@import '../../scss/01-settings/settings.colors';
@import '../../scss/01-settings/settings.breakpoints';

.header {
  position: sticky;
  top: 0;
  height: 9rem;
  padding: 1rem;
  background-color: $bg-color-primary;
  background-image: url(../../assets/background-image.png);
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, $bg-color-primary, $bg-color-secundary);
    opacity: .8;
  }
}
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $bp-mobile) {
      align-items: flex-start;
    }
  }
  .header__heading {
    z-index: 100;
  }
  .header__heading-sub {
    z-index: 100;
    color: $font-color-light;
  }
