<header class="header">
  <div class="header__container">
    <h1 class="header__heading">Recipe Web App</h1>
    <h2 class="header__heading-sub">Your own recipe list</h2>
    <div class="nav">
      <input type="checkbox" class="nav__checkbox" id="nav-toggle">
      <label for="nav-toggle" class="nav__button">
          <span class="nav__icon"></span>
      </label>
      <nav class="nav__nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a
                routerLink="/recipes"
                routerLinkActive="nav__link--active"
                [routerLinkActiveOptions]="{exact: true}"
                (click)="closeNav()"
                class="nav__link">recipe list</a>
            </li>
            <li class="nav__item">
              <a
                routerLink='/add'
                routerLinkActive="nav__link--active"
                (click)="closeNav()"
                class="nav__link">add recipe</a>
            </li>
            <li class="nav__item">
              <a
                routerLink='/edit'
                routerLinkActive="nav__link--active"
                (click)="closeNav()"
                class="nav__link">edit recipe</a>
            </li>
          </ul>
        </nav>
    </div>
  </div>
</header>
