@import '../../../scss/01-settings/settings.colors';

// .recipe-edit {

// }
  .recipe-edit__link {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: $font-color;
    }
  }
  .recipe-edit__input {
    display: inline;
  }
  .recipe-edit__nav-item {
    display: inline-block;
    border-right: 2px solid $font-color;
    border-bottom: 2px solid $font-color;
    border-radius: 5px;
    padding-left: .5rem;
    padding-right: .5rem;
    &:hover {
      color: $font-color;
      cursor: pointer;
    }
  }

.ingredient-edit {
  margin-top: 2rem;
}

.instruction-edit {
  margin-top: 2rem;
}
