<div class="content-container">

  <div *ngIf="removeRecipeScreen">
    <h2>Remove recipe: {{ selectedRecipe.name }}</h2>
    <button type="button" class="btn" (click)="removeRecipeConfirm(true)">Yes</button>
    <button type="button" class="btn" (click)="removeRecipeConfirm(false)">No</button>
  </div>

  <div *ngIf="setEdited">
    <h2>Edited recipe:</h2>
    <h3>{{ selectedRecipe.name }}</h3>
    <button type="button" class="btn btn--full-width" (click)="onSetEdited(!setEdited)">Edit another recipe</button>
  </div>

  <section class="recipe-edit">
    <div *ngIf="!removeRecipeScreen && !setEdited">
      <h2>Edit recipe</h2>
      <p *ngIf="recipes.length === 0">No recipes...</p>
      <ul>
        <li class="content-list" *ngFor="let recipe of recipes">
          <a class="recipe-edit__link" (click)="onSelectRecipe(recipe.id)">{{ recipe.name }}</a>
        </li>
      </ul>
      <div *ngIf="(isSelected && !removeRecipeScreen && !setEdited && recipes.length !== 0)">
        <h3>Selected recipe:</h3>
        <p>{{ selectedRecipe.name }}</p>
        <button type="button" class="btn btn--red" (click)="removeRecipe()">Remove recipe</button>
        <h3>Edit:</h3>
        <ul>
          <li class="recipe-edit__nav-item" (click)="onEditDetails()">main details</li>
          <li class="recipe-edit__nav-item" (click)="onEditImage()">img</li>
          <li class="recipe-edit__nav-item" (click)="onEditIngredients()">ingredients</li>
          <li class="recipe-edit__nav-item" (click)="onEditInstructions()">instruction</li>
        </ul>
      </div>

      <form *ngIf="(setEditDetails && !removeRecipeScreen && !setEdited)" (ngSubmit)="editDetails(formEditDetails)" #formEditDetails="ngForm">
        <p class="message">Only fill in the fields which need to be edited</p>
        <div class="form-container">
          <div class="form-container__left">
            <label for="name">recipe name</label>
            <label for="desc">description</label>
            <label for="rating">rating</label>
            <label for="friendly">child friendly</label>
            <label for="difficulty">difficulty</label>
            <label for="time">time</label>
            <label for="costs">costs</label>
          </div>
          <div class="form-container__right">
            <input type="text" placeholder="{{selectedRecipe.name}}" id="name" name="name" ngModel #name="ngModel">
            <input type="text" placeholder="{{selectedRecipe.desc}}" id="desc" name="desc" ngModel  #desc="ngModel">
            <select id="rating" name="rating" ngModel>
              <option value="" selected="selected">{{selectedRecipe.rating}}</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <select id="friendly" name="friendly" ngModel>
              <option value="" selected="selected">{{selectedRecipe.friendly}}</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <select id="difficulty" name="difficulty" ngModel>
              <option value="" selected="selected">{{selectedRecipe.difficulty}}</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <input type="number" placeholder="{{selectedRecipe.time}}" id="time" name="time" ngModel>
            <input type="number" placeholder="{{selectedRecipe.costs}}" id="costs" name="costs" ngModel>
          </div>
        </div>
        <button type="submit" class="btn btn--full-width">Edit recipe</button>
      </form>

      <form *ngIf="(setEditImage && !removeRecipeScreen && !setEdited)" (ngSubmit)="editImage(formEditImage)" #formEditImage="ngForm">
        <div class="form-container">
          <div class="form-container__left">
            <label for="imageURL">image URL</label>
          </div>
          <div class="form-container__right">
            <input type="text" placeholder="{{selectedRecipe.imageURL}}" id="imageURL" name="imageURL" ngModel>
          </div>
        </div>
        <button *ngIf="selectedRecipe.image" type="button" class="btn btn--red" (click)="removeImage()">Remove image</button>
        <button type="submit" class="btn btn--full-width">Edit image settings</button>
      </form>

      <section *ngIf="(setEditIngredients && !removeRecipeScreen && !setEdited)" class="ingredient-edit">
        <form (ngSubmit)="removeIngredient(formRemoveIngredient)" #formRemoveIngredient="ngForm">
          <h3>Edit ingredients</h3>
            <div class="form-container" *ngFor="let ingredient of selectedRecipe.ingredients; let i = index;">
              <div class="form-container__left">
                <label for="amount">amount</label>
                <label for="ingredientName">description</label>
              </div>
              <div class="form-container__right">
                <input type="text" placeholder="{{ingredient.amount}}" id="amount{{i}}" name="amount{{i}}" ngModel>
                <input class="recipe-edit__input" type="text" placeholder="{{ingredient.name}}" id="ingredientName{{i}}" name="ingredientName{{i}}" [ngModel]>
                <button type="button" class="edit-button" (click)="removeIngredient(i)">del</button>
              </div>
            </div>
          <h3>Add ingredients</h3>
          <form (ngSubmit)="addIngredient(ingrForm)" #ingrForm="ngForm">
            <div class="form-container">
              <div class="form-container__left">
                <label for="amount">amount</label>
                <label for="ingredientDesc">description</label>
              </div>
              <div class="form-container__right">
                <input type="text" id="amount" name="amount" ngModel required #amount="ngModel">
                <input class="recipe-edit__input" type="text" id="ingredientDesc" name="ingrName" ngModel required #ingrName="ngModel">
                <button type="submit" class="edit-button" [disabled]="!ingrForm.valid">add</button>
              </div>
            </div>
            <p class="message" *ngIf="!amount.valid && amount.touched || !ingrName.valid && ingrName.touched">
              Please fill in both fields
            </p>
          </form>
        </form>
      </section>

      <section class="instruction-edit" *ngIf="(setEditInstructions && !removeRecipeScreen && !setEdited)">
        <form (ngSubmit)="removeInstruction(instrForm)" #instrForm="ngForm">
          <h3>Edit instructions</h3>
          <div *ngFor="let instruction of selectedRecipe.instructions; let i = index;">
            <div class="form-container">
              <div class="form-container__left">
                <label for="step">step</label>
                <label for="shortDesc">short desc</label>
              </div>
              <div class="form-container__right">
                <input type="number" placeholder="instruction step" id="step{{instruction.step}}" name="step{{instruction.step}}" [(ngModel)]="instruction.step">
                <input type="text" placeholder="short description" name="shortDesc{{i}}" [(ngModel)]="instruction.shortDesc">
              </div>
            </div>
            <textarea type="text" placeholder="instruction" name="instructionDesc{{i}}" [(ngModel)]="instruction.desc"></textarea>
            <button type="button" class="edit-button" (click)="removeInstruction(i)">del</button>
          </div>
        </form>
        <form (ngSubmit)="addInstruction(instrForm)" #instrForm="ngForm">
          <h3>Add instruction</h3>
          <div class="form-container">
            <div class="form-container__left">
              <label for="shortDesc">description</label>
            </div>
            <div class="form-container__right">
              <input type="text" name="shortDesc" id="shortDesc" ngModel required #shortDesc="ngModel">
            </div>
          </div>
          <label for="instruction">instruction</label>
          <textarea type="text" id="instruction" name="instruction" ngModel required #instruction="ngModel"></textarea>
          <button type="submit" class="edit-button" [disabled]="!instrForm.valid">add</button>
          <p class="message" *ngIf="!shortDesc.valid && shortDesc.touched || !instruction.valid && instruction.touched">
            Please fill in both fields
          </p>
        </form>
      </section>

    </div>
  </section>
</div>
