<div class="content-container">

  <div *ngIf="recipeAdded">
    <h3>Recipe added!</h3>
    <button type="submit" class="btn btn--full-width" (click)="addAnotherRecipe()">Add another recipe!</button>
  </div>

  <section class="recipe-add" *ngIf="!recipeAdded">
    <h2>Add recipe</h2>
    <form (ngSubmit)="addRecipe(recipeForm)" #recipeForm="ngForm">
      <div class="form-container">
        <div class="form-container__left">
          <label for="name">recipe name</label>
          <label for="desc">description</label>
          <label for="image">add image</label>
          <div *ngIf="checked">
            <label for="imageURL">image URL</label>
          </div>
          <label for="rating">rating</label>
          <label for="friendly">child friendly</label>
          <label for="difficulty">difficulty</label>
          <label for="time">time</label>
          <label for="costs">costs</label>
        </div>
        <div class="form-container__right">
          <input type="text" id="name" name="name" ngModel required #name="ngModel">
          <input type="text" id="desc" name="desc" ngModel required #desc="ngModel">
          <input type="checkbox" id="image" name="image" ngModel (click)="onChecked(!checked)">
          <div *ngIf="checked">
            <input type="text" id="imageURL" name="imageURL" ngModel required #imageURL="ngModel">
          </div>
          <select id="rating" name="rating" ngModel>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <select id="friendly" name="friendly" ngModel>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <select id="difficulty" name="difficulty" ngModel>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <input type="number" id="time" name="time" ngModel>
          <input type="number" id="costs" name="costs" ngModel>
        </div>
      </div>
      <p class="message" *ngIf="!name.valid && name.touched || !desc.valid && desc.touched">
        Please fill in all the required fields
      </p>

      <section class="ingredients-add">
        <h3>Add ingredients</h3>
        <form (ngSubmit)="addIngredient(ingrForm)" #ingrForm="ngForm">
          <div class="form-container">
            <div class="form-container__left">
              <label for="amount">amount</label>
              <label for="ingredientDesc">description</label>
            </div>
            <div class="form-container__right">
              <input type="text" id="amount" name="amount" ngModel required #amount="ngModel">
              <input class="recipe-add__input" type="text" id="ingredientDesc" name="ingrName" ngModel required #ingrName="ngModel">
              <button type="submit" class="edit-button" [disabled]="!ingrForm.valid">add</button>
            </div>
          </div>
          <p class="message" *ngIf="!amount.valid && amount.touched || !ingrName.valid && ingrName.touched">
            Please fill in both fields
          </p>
        </form>
        <div *ngIf="ingredientAdded">
          <p class="recipe-add__list">Added ingredients:</p>
          <ul>
            <li class="content-list" *ngFor="let ingredient of ingredients">{{ingredient.amount}} {{ingredient.name}}</li>
          </ul>
        </div>
      </section>

      <section class="instruction-add">
        <h3>Add instructions</h3>
        <form (ngSubmit)="addInstruction(instrForm)" #instrForm="ngForm">
          <div class="form-container">
            <div class="form-container__left">
              <label for="shortDesc">description</label>
            </div>
            <div class="form-container__right">
              <input type="text" name="shortDesc" id="shortDesc" ngModel required #shortDesc="ngModel">
            </div>
          </div>
          <label for="instruction">instruction</label>
          <textarea type="text" id="instruction" name="instruction" ngModel required #instruction="ngModel"></textarea>
          <button type="submit" class="edit-button" [disabled]="!instrForm.valid">add</button>
          <p class="message" *ngIf="!shortDesc.valid && shortDesc.touched || !instruction.valid && instruction.touched">
            Please fill in both fields
          </p>
        </form>
        <div *ngIf="instructionAdded">
          <p class="recipe-add__list">Added instructions:</p>
          <ul>
            <li class="content-list" *ngFor="let instruction of instructions">Step {{instruction.step}}: {{instruction.shortDesc}}</li>
          </ul>
        </div>
      </section>

      <button type="submit" class="btn btn--full-width" [disabled]="!recipeForm.valid">Add recipe</button>
    </form>
  </section>
</div>
