@import '../../../scss/01-settings/settings.colors';

.recipe-add {
  @media only screen and (min-width: 900px) {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

  .recipe-add__input {
      display: inline;
  }
  .recipe-add__list {
    color: $font-color;
    margin-top: 2rem;
  }

.ingredients-add {
  margin-top: 2rem;
}

.instruction-add {
  margin-top: 2rem;
}

