.container {
  max-width: $bp-tablet-landscape;
  margin: 0 auto;
  @media only screen and (min-width: $bp-tablet-landscape) {
    min-height: 100vh;
    border-left: 2px solid $bg-color-primary;
    border-right: 2px solid $bg-color-primary;
  }
}
