.content-container {
  margin-top: 0;
  padding: 1rem;
  @media only screen and (min-width: $bp-first) {
    padding: 2rem;
  }
  @media only screen and (min-width: $bp-tablet-landscape) {
    display: flex;
    margin-top: 2.5rem;
  }
}
  .content-container__left {
    @media only screen and (min-width: $bp-tablet-landscape) {
      min-width: 37.5rem;
    }
  }
