input {
  display: block;
  height: 4rem;
  padding: .5rem;
  margin-bottom: .5rem;
  font-family: inherit;
  font-size: inherit;
}
  input[type="text"] {
    width: 18.5rem;
    @media only screen and (min-width: $bp-tablet-landscape) {
      width: 35rem;
    }
  }
  input[type="number"] {
    width: 6rem;
  }
  input[type="checkbox"] {
    width: 2.5rem;
  }

input.ng-invalid.ng-touched {
  border: 2px solid $error;
}
