textarea {
  font-family: inherit;
  font-size: inherit;
  width: 90%;
  height: 15rem;
  @media only screen and (min-width: $bp-tablet-landscape) {
    width: 80rem;
  }
}

textarea.ng-invalid.ng-touched {
  border: 2px solid $error;
}
