@import '../../../scss/01-settings/settings.colors';

// .recipe {

// }
  .recipe__image {
    width: 100%;
    height: auto;
    max-width: 40rem;
  }
  .recipe__rating {
    margin-top: 1rem;
  }

  .ingredients {
    margin-top: 2rem;
  }

.instruction {
  margin-top: 2rem;
}
  .instruction__step {
    margin-top: 1rem;
    font-weight: bold;
    color: $font-color;
  }
