<section class="recipe">
  <h3>{{ recipe.name }}</h3>
  <p>{{ recipe.desc }}</p>
  <img *ngIf="recipe.image" class="recipe__image" src="{{ recipe.imageURL }}" alt="{{ recipe.name }}">
  <div class="recipe__rating">
    <p *ngIf="recipe.rating">Rating: {{ recipe.rating }}/5</p>
    <p *ngIf="recipe.friendly">Child friendy: {{ recipe.friendly }}/5</p>
    <p *ngIf="recipe.difficulty">Difficulty: {{ recipe.difficulty }}/5</p>
    <p *ngIf="recipe.time">Time needed: {{ recipe.time }} min</p>
    <p *ngIf="recipe.costs">Costs: {{ recipe.costs }} e</p>
  </div>
</section>

<section class="ingredients" *ngIf="recipe.ingredients.length !== 0">
  <h3>Ingredients</h3>
  <ul>
    <li class="content-list" *ngFor="let ingredient of recipe.ingredients">{{ ingredient.amount }} {{ ingredient.name }}</li>
  </ul>
</section>

<section class="instruction" *ngIf="recipe.instructions.length !== 0">
  <h3>Instructions</h3>
  <div *ngFor="let instruction of recipe.instructions">
    <p class="instruction__step">Step {{ instruction.step }}: {{ instruction.shortDesc }}</p>
    <p>{{ instruction.desc }}</p>
  </div>
</section>
