.edit-button {
  padding: .3rem;
  color: $font-color;
  font-weight: bold;
  background-color: $bg-color-secundary;
  margin-left: .8rem;
  border: 2px solid $font-color;
  border-radius: .5rem;
  cursor: pointer;
  &:disabled {
    position: relative;
    opacity: .5;
    z-index: -1;
  }
}
