.btn {
  display: inline-block;
  color: $bg-color-secundary;
  background-color: $font-color;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-family: inherit;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  width: 15rem;
  cursor: pointer;
  margin: 1rem 1rem 0 0;
    &--full-width {
      width: 100%;
      max-width: 32.5rem;
    }
    &--red {
      width: 100%;
      max-width: 32.5rem;
      margin-bottom: 2rem;
      background-color: red;
    }
}
