// .nav {
// }
.nav__checkbox {
  display: none;
}
.nav__button {
  position: absolute;
  top: 1.5rem;
  right: .5rem;
  height: 5rem;
  width: 5rem;
  background-color: $bg-color-primary;
  border: 2px solid $bg-color-secundary;
  border-radius: 1rem;
  transform: rotate(45deg);
  text-align: center;
  cursor: pointer;
  opacity: .8;
  z-index: 100;
  @media screen and (min-width: $bp-tablet-landscape) {
      visibility: hidden;
  }
}
.nav__icon {
  position: relative;
  transform: rotate(-45deg);
  margin-top: 1.4rem;
}
  .nav__icon,
  .nav__icon::before,
  .nav__icon::after {
      display: inline-block;
      width: 2.6rem;
      height: 2px;
      background-color: $bg-color-secundary;
      transition: all .4s;
  }
  .nav__icon::before,
  .nav__icon::after {
      content: "";
      position: absolute;
      left: 0px;
  }
  .nav__icon::before {
      top: -.6rem;
  }
  .nav__icon::after {
      top: .6rem;
  }
.nav__button:hover .nav__icon::before {
  top: -.7rem;
}
.nav__button:hover .nav__icon::after {
  top: .7rem;
}

.nav__checkbox:checked + .nav__button .nav__icon {
  background-color: transparent;
}
.nav__checkbox:checked + .nav__button .nav__icon::before {
  top: 0;
  transform: rotate(315deg);
}
.nav__checkbox:checked + .nav__button .nav__icon::after {
  top: 0;
  transform: rotate(-315deg);
}
.nav__nav {
  width: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  visibility: hidden;
  background-color: $bg-color-primary;
  opacity: 0;
  top: 0;
  left: 0;
  @media screen and (min-width: $bp-tablet-landscape) {
      position: absolute;
      top: 9rem;
      visibility: visible;
      opacity: 1;
      height: 3rem;
      width: 100%;
  }
}
.nav__checkbox:checked ~ .nav__nav {
  width: 100%;
  opacity: 1;
  visibility: visible;
  z-index: 50;
}
.nav__list {
  list-style: none;
}
.nav__item {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 2rem 10rem;
  @media screen and (min-width: $bp-tablet-landscape) {
      display: inline;
      font-size: 1.8rem;
      font-weight: bold;
      text-transform: none;
      padding: .2rem .5rem;

  }
}

.nav__link {
  color: $font-color-dark;
  text-decoration: none;
  &:hover {
      text-decoration: underline;
  }
}
  .nav__link--active {
    text-decoration: underline;
  }
