<div class="content-container">
  <div class="content-container__left">
    <h2>Recipe list</h2>
    <h3 *ngIf="loading">Loading recipes...</h3>
    <p *ngIf="recipes.length === 0">No recipes...</p>
    <nav>
      <ul>
        <li class="content-list" *ngFor="let recipe of recipes">
          <a class="content-link" (click)="onSelectRecipe(recipe.id)">{{ recipe.name }}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div>
    <app-recipe-detail-container *ngIf="selectedRecipe.id !== null"></app-recipe-detail-container>
  </div>
</div>
